.btn{
	.transition(0.2s);
	.border-radius(4px);
	.fh;
	margin: 0;
	padding: 0 20px;
	border: 2px solid @red;
	border-top-color: lighten(@red,15%);
	border-bottom-color: darken(@red,5%);
	height: 32px;
	line-height: 28px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	text-shadow: -1px -1px 0 fade(#000,30%);
	outline: none;
	text-align: center;
	background: @red;
	&:hover{
		background: @orange;
		border-color: @orange;
		border-top-color: lighten(@orange,15%);
		border-bottom-color: darken(@orange,5%);
	}
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
line-height:normal !important;
}