// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fi {font-family: 'iviki-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@red: #dc2300;
@orange: #ff8400;
@green: #4f9c2d;
@blue: #2d8a9c;
@navy: #2b5480;
@yellow: #ffb300;
@cp: #5c5c5c; // color primary
@cl: @orange; // color link
.red {
	color: @red;
}
.orange {
	color: @orange;
}
.green {
	color: @green;
}
.blue {
	color: @blue;
}
.navy {
	color: @navy;
}
.yellow {
	color: @yellow;
}

// font sizes
@fsp: 15px; // font size primary
@fsh1: 26px; // font size h1
@fsh2: 22px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1160px;
@content-padding: 0;