#top-nav{
	background: #f7f7f7;
	border-bottom: 1px solid #eaeaea;
}
#page-header{
	.logo{
		float: left;
		width: 220px;
		a{
			.fh;
			display: block;
			overflow: hidden;
			height: 106px;
			padding: 67px 0 0 22px;
			color: @cp;
			line-height: 1;
			font-size: 14px;
			letter-spacing: 0.015em;
			text-decoration: none;
			background: url(../images/logo/01.png) no-repeat 1px 24px;
			mark{
				display: none;
			}
		}
	}
}
#mainmenu{
	position: relative;
	z-index: 999;
	background: @red;
	border-top: 2px solid darken(@red,8%);
}
#main-top{
	position: relative;
	padding: 30px 0;
	background: #f7f7f7;
	border-bottom: 2px solid #f5f5f5;
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: 100%;
		width: 100%;
		height: 25px;
		background: url(../images/bg/02.png) no-repeat top;
	}
}
#container{
	padding: 10px 0;
}
#col-main {
	float: right;
	width: 77.6%;
	padding: 10px 0;
}
#col-left {
	float: left;
	width: 17.2%;
	padding: 10px 0;
}
#col-bottom {
	padding: 15px 0 10px;
	background: #f7f7f7;
}
#col-footer{
	padding: 38px 0 32px;
	background: #f0f0f0;
	.footer{
		clear: both;
		padding: 34px 0 0;
		.clearfix;
		border-top: 2px solid #e8e8e8;
	}
}
#page-footer {
	padding: 20px 0;
	.copy {
		float: left;
		font-size: 12px;
		text-transform: uppercase;
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 11px;
		margin: 20px 0;
		a{
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 0 0 0 10px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(6px);
		.box-shadow(0 0 6px fade(#000,10%));
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 40px;
		width: 40px;
		text-indent: -9999px;
		line-height: 40px;
		text-align: center;
		background: @red;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e831';
			font-size: 20px;
		}
		&:hover{
			background: @orange;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}