@media (min-width:768px) and (max-width:1180px){
	.container{
		width: 740px;
	}
	#col-main {
		width: 68%;
	}
	#col-left {
		width: 27%;
	}
	#detail-product {
		.detail-side {
			width: 100%;
		}
	}
	.mod_menu-top{
		ul{
			li{
				font-size: 13px;
				margin: 0 10px 0 0;
				&.home{
					margin-right: 10px;
					a{
						&:before{
							margin-top: -2px;
						}
					}
				}
			}
		}
	}
	.mod_search{
		margin-right: 220px;
	}
	.mod_custom-basket {
		.price {
			font-size: 16px;
		}
	}
	.mod_menu-main {
		display: block;
		&>ul{
			display: block;
			&>li{
				position: relative;
				display: block;
				float: left;
				&:hover {
					z-index: 99;
				}
			}
		}
		.dropdown {
			width: 920px;
			.inner{
				ul {
					width: 220px;
				}
				.banner{
					width: 260px;
					margin-left: 0;
				}
			}
		}
	}
	.mod_custom-slider{
		#main-top & {
			float: none;
			width: 100%;
		}
		figure {
			width: 380px;
		}
		.content {
			margin-right: 0;
			margin-left: 420px;
		}
	}
	.mod_custom-banner-delivery,.mod_custom-banner-shops{
		#main-top & {
			float: left;
			width: 50%;
		}
	}
	.mod_custom-products {
		.mod-title{
			font-size: 21px;
			small{
				font-size: 18px;
			}
		}
		.items {
			.item {
				.price {
					left: 20px;
					right: 20px;
					.curent {
						font-size: 18px;
					}
				}
			}
		}
	}
	.shop-products{
		.items {
			.item{
				width: 50%;
			}
		}
	}
	.mod_custom-heureka {
		width: 17%;
	}
	.mod_custom-facebook {
		width: 40%;
	}
	.mod_xnewsletter {
		width: 40%;
		.content{
			float: none;
			width: 100%;
		}
		form{
			float: none;
			width: 100%;
			padding-left: 0;
			padding-top: 10px;
		}
		input[type=text]{
			width: 180px;
		}
	}
	.mod_custom-partners {
		#col-footer & {
			float: none;
			width: 100%;
		}
		.mod-title{
			width: 10%;
			float: left;
			padding-top: 6px;
		}
		ul{
			margin-left: 10%;
		}
	}
	.mod_menu-footer{
		padding-top: 20px;
		border-top: 2px solid #e8e8e8;
		#col-footer & {
			width: 100%;
		}
	}
	.mod_menu-footer-bottom {
		ul {
			li {
				&.methods,&.credit,&.shops {
					width: 33.3333%;
					.cards {
						clear: both;
						float: none;
						display: block;
						padding: 10px 0 0;
					}
				}
			}
		}
	}
	.mod_custom-products-filter {
		.title{
			.col-12;
			margin: 5px 0;
		}
		.content {
			.col-12;
			margin: 5px 0;
		}
		.content-slider {
			.col-12;
			margin: 5px 0;
		}
		.content-stock {
			.col-12;
			margin: 5px 0;
			text-align: left;
		}
		.content-pagehub {
			.col-12;
			margin-bottom: 20px;
		}
		.content-selectors {
			.col-12;
			margin-bottom: 20px;
			text-align: left;
		}
	}
}

@media (max-width:767px){
	img {
		max-width: 100%;
		height: auto!important;
	}
	.col-1,.col-2,.col-2-3,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		width: 100%;
	}
	.container{
		width: 100%;
		padding: 0 20px;
		text-align: center;
	}
	#col-main {
		float: none;
		width: 100%;
	}
	#col-left {
		float: none;
		width: 100%;
	}
	#content {
		text-align: left;
	}
	.pagehub {
		text-align: center;
	}
	img.img-left,img[align=left],img.img-right,img[align=right]{
		float: none;
		margin: 20px auto;
		display: block;
	}
	a.xeditorpopup img{
		.transition(0.2s);
		padding: 1px;
		border: 2px solid lighten(@cp,50%);
	}
	#detail-product {
		.detail-row {
			margin: 0;
		}
		.detail-side {
			width: 100%;
			padding: 0;
		}
		.thumbnails {
			li {
				display: none;
				&:first-child {
					display: block;
				}
			}
			.label-circ{
				zoom: 0.8;
			}
		}
		.atributes {
			.old-price {
				.title {
					.col-12;
				}
				.content {
					.col-12;
				}
			}
			.price {
				.title {
					.col-12;
				}
				.content {
					.col-12;
				}
			}
		}
		.extension {
			.rate {
				margin-bottom: 20px;
				.title {
					float: none;
				}
				.nav {
					float: none;
					text-align: left;
					a {
						&:before{
							float: left;
							margin: 0 8px 0 0;
						}
					}
				}
			}
		}
		.tabs-bottom {
			.tabs {
				border-bottom: 0;
				li {
					float: none;
					a {
						.border-radius(6px);
						margin: 0 0 5px;
						border: 2px solid #e8e8e8;
					}
				}
			}
		}
	}
	.mod_menu-top {
		width: 100%;
		float: none;
		border-right: 0;
		&:before{
			display: none;
		}
		ul {
			li {
				float: none;
				display: inline-block;
				margin-bottom: 5px;
				&.home {
					a {
						display: inline;
						width: auto;
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
	.mod_custom-top-contact{
		display: none;
	}
	#page-header{
		.logo{
			float: none;
			margin: auto;
		}
	}
	.mod_search{
		margin: 0;
		padding: 27px 0;
		button {
			display: none;
		}
	}
	.mod_menu-main {
		ul{
			display: none;
		}
		select {
			display: block;
		}
	}
	.mod_custom-basket {
		float: none;
		width: 100%;
		min-height: 0;
		border: 1px solid #ebebeb;
		&:before{
			display: none;
		}
		ul {
			li {
				font-size: 16px;
			}
		}
		.basket {
			float: left;
		}
		.price {
			float: left;
			margin-left: 20px;
			margin-top: 10px;
		}
	}
	.mod_custom-slider {
		display: none;
	}
	.mod_custom-banner-delivery,.mod_custom-banner-shops{
		#main-top & {
			display: none;
		}
	}
	.mod_custom-products{
		.mod-title{
			float: none;
		}
		.all {
			float: none;
			border-bottom: 2px solid #ebebeb;
		}
		.items {
			.item{
				width: 100%;
				float: none;
				margin-bottom: 60px;
				a {
					height: auto!important;
				}
			}
		}
	}
	.shop-products{
		.items {
			.clearfix;
			clear: both;
			.item{
				width: 100%;
				a {
					height: auto!important;
				}
				.labels {
					.label {
						float: none;
					}
				}
			}
		}
	}
	.mod_custom-alert {
		padding: 20px;
		font-size: 20px;
		img {
			display: none;
		}
	}
	.mod_custom-baners{
		ul{
			li{
				width: 100%;
			}
		}
	}
	.mod_banners {
		.cycle-carousel-wrap {
			white-space: normal;
			position: static!important;
			width: auto;
		}
		ul{
			height: 180px;
			overflow: hidden;
			li{
				height: 60px;
				display: block!important;
				float: none!important;
				&.cycle-sentinel {
					display: none!important;
				}
			}
		}
	}
	.mod_custom-heureka{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.mod_custom-facebook {
		float: none;
		width: 100%;
		padding: 0;
		border-left: 0;
		margin: 0 0 20px;
		background-position: center 20px;
		border-top: 2px solid #ebebeb;
		.mod-title{
			margin-top: 90px;
		}
	}
	.mod_xnewsletter{
		float: none;
		width: 100%;
		padding: 0;
		border-left: 0;
		border-top: 2px solid #ebebeb;
		.content{
			float: none;
			width: 100%;
		}
		form{
			float: none;
			width: 100%;
			padding: 0;
		}
		input[type=text]{
			width: 100%;
			margin: 10px 0;
		}
		button{
			.border-radius(6px);
			width: 100%;
			&:before{
				display: none;
			}
		}
	}
	.mod_custom-partners {
		margin-bottom: 30px;
		border-bottom: 2px solid #ebebeb;
		#col-footer & {
			float: none;
			width: 100%;
		}
		.mod-title {
			margin-bottom: 40px;
		}
		ul {
			.rul;
			.clearfix;
			margin: 0;
			li {
				float: none;
				padding: 0;
			}
		}
	}
	.mod_menu-footer{
		#col-footer & {
			float: none;
			width: 100%;
		}
		.col {
			float: none;
			width: 100%;
			padding: 0;
		}
		ul {
			margin-bottom: 50px;
		}
	}
	.mod_menu-footer-bottom {
		ul {
			li {
				float: none;
				width: 100%;
				margin: 0 0 30px;
				&.methods,&.credit,&.shops {
					float: none;
					width: 100%;
					a {
						float: none;
						&:before{
							display: block;
							float: none;
							margin: auto;
						}
					}
					.cards {
						clear: both;
						float: none;
						display: block;
						padding: 10px 0 0;
						margin: 0;
					}
				}
			}
		}
	}
	.mod_menu-sidebar {
		&>ul {
			&>li {
				&>a {
					img {
						float: none;
						margin: 0 auto 10px;
						display: block;
					}
				}
			}
		}
	}
	.mod_custom-products-filter {
		.title{
			.col-12;
			margin: 5px 0;
		}
		.content {
			.col-12;
			margin: 5px 0;
		}
		.content-slider {
			.col-12;
			margin: 5px 0;
		}
		.content-stock {
			.col-12;
			margin: 5px 0;
			text-align: right;
		}
		.content-toggle {
			.col-12;
			margin: 5px 0;
		}
		.content-filter {
			.col-12;
			margin: 5px 0;
			text-align: left;
		}
		.content-pagehub {
			.col-12;
			margin: 5px 0;
			text-align: center;
		}
		.content-selectors {
			.col-12;
			margin: 5px 0;
			text-align: center;
			select {
				width: 100%;
			}
		}
	}
	#page-footer {
		.copy {
			float: none;
			font-size: inherit;
		}
		.xart {
			float: none;
			font-size: 12px;
			img{
				float: none;
				display: block;
				margin: auto;
			}
		}
	}
}
