nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e833';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@cp,60%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@cp,55%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@cl,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		color: #fff;
		background: lighten(@cl,10%)!important;
		a{
			color: #fff;
		}
	}
}
table.products {
	a.remove {
		display: inline-block;
		position: relative;
		text-indent: -9999px;
		&:hover{
			&:before{
				color: @orange;
			}
		}
		&:before {
			.fi;
			position: absolute;
			left: -10px;
			top: -40%;
			content: '\e82e';
			color: @red;
			font-size: 22px;
			text-indent: 0;
			text-decoration: none;
		}
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
		&.checkbox {
			display: inline;
			margin: 0 10px 0 0;
			font-weight: normal;
		}
	}
	.optgroup label{
		display:inline;
		margin: 0 0 10px 0;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],input[type=number],textarea,select{
		.transition(0.2s);
		.rin;
		.border-radius(4px);
		position: relative;
		border: 1px solid #afb0b1;
		border-bottom-color: #f0f0f0;
		border-right-color: #f0f0f0;
		font-size: 16px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 32px;
		padding: 6px 10px;
		color: @cp;
		background: #f0f0f0;
		outline: 0;
		max-width: 100%;
	}
	input.input-mini{
		width:32px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input[type=number].input-mini{
		width:42px;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;

	}
	select{
		width:auto;
		padding: 2px 6px;
	}
	select[multiple=multiple] {
		height: auto;
	}
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		background: #f9f9f9;
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			.border-radius(4px 0 0 4px);
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			.border-radius(0 6px 6px 0);
			float: left;
			background-position: 0 -5px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button{
		background: @orange;
		border-color: @orange;
		border-top-color: lighten(@orange,15%);
		border-bottom-color: darken(@orange,5%);
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
	a {
		color: #fff;
	}
}
.pagehub{
	clear: both;
	margin: 30px 0;
	.l & {
		text-align: left;
	}
	.c & {
		text-align: center;
	}
	.r & {
		text-align: right;
	}
	a,span{
		.border-radius(3px);
		display: inline-block;
		min-width: 26px;
		height: 27px;
		line-height: 24px;
		color: @cp;
		font-size: 18px;
		font-weight: bold;
		margin: 0 1px;
		border: 1px solid #ccc;
		text-decoration: none;
		text-align: center;
	}
	a:hover{
		background: #f0f0f0;
	}
	span.pagenav{
		color: #fff;
		border-color: @orange;
		background: @orange;
	}
	.pagenav-ico{
		color: #fff;
		background: #ccc;
	}
	a.pagenav-ico{
		&:hover{
			background: #bbb;
		}
	}
	span.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 25px;
	background: url(../images/bg/06.png) no-repeat top;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		.border-radius(6px);
		padding: 12px 20px;
		margin: 0 0 15px 0;
		color: #fff;
		font-size: 16px;
		background: lighten(@orange,10%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @orange;
	}
	.warning,.error{
		background-color: @red;
	}
}

