
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-lock-filled:before { content: '\e803'; } /* '' */
.icon-lock-open-filled:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-direction-outline:before { content: '\e806'; } /* '' */
.icon-direction:before { content: '\e807'; } /* '' */
.icon-plus-outline:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-credit-card:before { content: '\e80b'; } /* '' */
.icon-database:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-location-outline:before { content: '\e80e'; } /* '' */
.icon-monitor:before { content: '\e80f'; } /* '' */
.icon-connected-object:before { content: '\e810'; } /* '' */
.icon-videocam:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e812'; } /* '' */
.icon-movie:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-hdd:before { content: '\e815'; } /* '' */
.icon-tablet:before { content: '\e816'; } /* '' */
.icon-mobile-1:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-eject:before { content: '\e819'; } /* '' */
.icon-eject-outline:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-outline:before { content: '\e81e'; } /* '' */
.icon-check-outline:before { content: '\e81f'; } /* '' */
.icon-check:before { content: '\e820'; } /* '' */
.icon-star:before { content: '\e821'; } /* '' */
.icon-star-empty:before { content: '\e822'; } /* '' */
.icon-star-half:before { content: '\e823'; } /* '' */
.icon-star-half-alt:before { content: '\e824'; } /* '' */
.icon-chat-alt:before { content: '\e825'; } /* '' */
.icon-calculator:before { content: '\e826'; } /* '' */
.icon-phone:before { content: '\e827'; } /* '' */
.icon-phone-outline:before { content: '\e828'; } /* '' */
.icon-camera-1:before { content: '\e829'; } /* '' */
.icon-camera-outline:before { content: '\e82a'; } /* '' */
.icon-picture:before { content: '\e82b'; } /* '' */
.icon-picture-outline:before { content: '\e82c'; } /* '' */
.icon-cancel-circled:before { content: '\e82d'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e82e'; } /* '' */
.icon-thumbs-up:before { content: '\e82f'; } /* '' */
.icon-down-dir:before { content: '\e830'; } /* '' */
.icon-up-dir:before { content: '\e831'; } /* '' */
.icon-left-dir:before { content: '\e832'; } /* '' */
.icon-right-dir:before { content: '\e833'; } /* '' */
.icon-fast-fw:before { content: '\e834'; } /* '' */
.icon-rewind:before { content: '\e835'; } /* '' */
.icon-search:before { content: '\e836'; } /* '' */
.icon-search-outline:before { content: '\e837'; } /* '' */
.icon-user-outline:before { content: '\e838'; } /* '' */
.icon-minus-outline:before { content: '\e839'; } /* '' */
.icon-minus:before { content: '\e83a'; } /* '' */
.icon-attention-filled:before { content: '\e83b'; } /* '' */
.icon-warning:before { content: '\e83c'; } /* '' */
.icon-menu:before { content: '\e83d'; } /* '' */
.icon-menu-outline:before { content: '\e83e'; } /* '' */
.icon-calendar-outlilne:before { content: '\e83f'; } /* '' */
.icon-lightbulb:before { content: '\e840'; } /* '' */
.icon-zoom-in:before { content: '\e841'; } /* '' */
.icon-zoom-in-outline:before { content: '\e842'; } /* '' */